{control form}
{*<div class="col-md-6 jq-menu-edit-div" data-config="{ &quot;iconPicker&quot;:[],&quot;listOptions&quot;:{ &quot;placeholderCss&quot;:{ &quot;background-color&quot;:&quot;gray&quot; } },&quot;labelEdit&quot;:&quot;Edit&quot; }">*}
    {*<div class="panel panel-default">*}
        {*<div class="panel-body" id="cont">*}
            {*<ul id="myEditor" class="sortableLists list-group"></ul>*}
        {*</div>*}
    {*</div>*}
    {*<div class="form-group">*}
        {*<button id="btnOut" type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Output</button>*}
    {*</div>*}
    {*<div class="form-group">*}
        {*<textarea id="out" class="form-control" cols="50" rows="10"></textarea>*}
    {*</div>*}
{*</div>*}

{*<div class="col-md-6">*}
    {*<div class="panel panel-primary">*}
        {*<div class="panel-heading">Edit item</div>*}
        {*<div class="panel-body">*}
            {*<form id="frmEdit" class="form-horizontal">*}
                {*<div class="form-group">*}
                    {*<label for="text" class="col-sm-2 control-label">Text</label>*}
                    {*<div class="col-sm-10">*}
                        {*<div class="input-group">*}
                            {*<input type="text" class="form-control item-menu" name="text" id="text" placeholder="Text">*}
                        {*</div>*}
                    {*</div>*}
                {*</div>*}
                {*<div class="form-group">*}
                    {*<label for="href" class="col-sm-2 control-label">URL</label>*}
                    {*<div class="col-sm-10">*}
                        {*<input type="text" class="form-control item-menu" id="href" name="href" placeholder="URL">*}
                    {*</div>*}
                {*</div>*}
                {*<div class="form-group">*}
                    {*<label for="target" class="col-sm-2 control-label">Target</label>*}
                    {*<div class="col-sm-10">*}
                        {*<select name="target" id="target" class="form-control item-menu">*}
                            {*<option value="_self">Self</option>*}
                            {*<option value="_blank">Blank</option>*}
                            {*<option value="_top">Top</option>*}
                        {*</select>*}
                    {*</div>*}
                {*</div>*}
            {*</form>*}
        {*</div>*}
        {*<div class="panel-footer">*}
            {*<button type="button" id="btnUpdate" class="btn btn-primary" disabled="disabled"><i class="fa fa-refresh"></i> Update</button>*}
            {*<button type="button" id="btnAdd" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>*}
        {*</div>*}
    {*</div>*}
{*</div>*}
