<div n:snippet="aliases-form">
    <form n:name="addForm" data-transition='.aliases__items'>
        <ul class="errors text-danger list-unstyled" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        {input urlAlias, class => 'form-control form-control-sm input--inline'}
        {input add, class => 'btn btn-success btn-sm'}
    </form>
</div>
<div class="lists--unstyled aliases__items nittro-transition-dim list-group">
    <ul n:snippet="aliases" n:dynamic="alias-\d+" data-dynamic-element="li.list-group-item.list-group-item-action.row.d-flex">
        <li n:foreach="$urls as $url" n:snippet="'alias-' . $url->id" class="list-group-item list-group-item-action row d-flex">
            <div class="col">{$url->urlPath}</div>
            <div class="col-auto">
                <a class="text-white btn btn-danger btn-sm" href="{link delete! $url->id}" title="Delete alias {$url->urlPath}"
                   data-dynamic-remove="#{snippetId 'alias-' . $url->id}"><i class="fa fa-trash"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
