nav.navbar {
  z-index: 9911;
}

.error {
  color: Red;
  font-size: .9em;
}

.content-inner {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto
}

.footer {
  flex: none;
}

.main-content {
  padding: 30px 10px;

  @media (min-width: 576px) {
    padding: 30px 0;
  }
}

.gitlab-corner {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.gitlab-corner:hover {
  opacity:0.6;
}
