<form n:name="form">
    {foreach $form->getControls() as $input}
        <div class="form-group row">
            {label $input, class => 'col-sm-3'}
            <div class="col-sm-9">
                {input $input}
                <small n:if="array_key_exists($input->name, $options) && $options[$input->name]->hint !== null"
                        class="form-text text-muted">{$options[$input->name]->hint}</small>
            </div>
        </div>
    {/foreach}
</form>
