{var latestId = $pageLocale->getLatestContent() ? $pageLocale->getLatestContent()->id : null}
<div n:class="$latestId === $content->id ? 'bg-dark text-light', row" n:foreach="$contents as $content">
    <div class="col-auto">{$content->createdAt|dateTimeFormat}</div>
    <div class="col">{\mb_strlen(strip_tags($content->content))} characters</div>
    <div class="col-2 text-right">
        <a title="Preview" target="_blank" href="{plink :Pages:Front:Pages:preview $pageLocale->id, $content->id}">Preview</a>
    </div>
    <div class="col-2">
        <a n:if="$latestId !== $content->id" title="Select" href="{link select! $content->id}" class="modal--dismiss"
                                             data-id="{$content->id}" data-dismiss="previous-versions-modal">Select</a>
    </div>
</div>
