<header class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
            <li class="search-box"><a class="search-toggle no-pdd-right" href="javascript:void(0);"><i class="search-icon ti-search pdd-right-10"></i>
                    <i class="search-icon-close ti-close pdd-right-10"></i></a></li>
            <li class="search-input"><input class="form-control" type="text" placeholder="Search..."></li> {*TODO controlSearch*}
        </ul>
        <ul class="nav-right">
            {control quickActions}
            <li class="dropdown">
                <a data-ajax="false" href="javascript:void(0);" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown"
                   aria-expanded="false">
                    <div class="peer mR-10"><img class="w-2r bdrs-50p" src="{$basePath}/images/user.png" alt="User"></div>
                    <div class="peer"><span class="fsz-sm c-grey-900">{$user->getIdentity()->username}</span></div>
                </a>
                <ul class="dropdown-menu fsz-sm">
                    <li class="dropdown-item"><a href="{plink :Auth:Sign:out}" title="Logout" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                            <i class="ti-power-off mR-10"></i> <span>Logout</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
