{block content}
    <a class="btn btn-success" n:href="new" title="Create new menu">New Menu</a>

    <div class="row mt-3">
        {foreach $menus as $menu}
            <div class="col-md-4 card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">{$menu->name}</h5></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>URL</th>
                            <th>Target</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr n:foreach="$menu->items as $item">
                            <td>{$item->title}</td>
                            <td><a href="{$item->getUrlString() ?: '/'}">{$item->getUrlString() ?: '/'}</a></td>
                            <td>{$item->target}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a n:href="edit $menu->id" title="Edit menu {$menu->name}" class="btn btn-info menu-list__edit">Edit</a>
                    <a n:href="delete! $menu->id" title="Delete menu {$menu->name}" data-prompt="Are you sure you want to delete this menu?"
                                                  class="btn btn-danger menu-list__delete">Delete</a>
                    {if $menu->selected}
                        <button class="btn btn-success menu-list__selected">Selected</button>
                    {else}
                        <a n:href="select! $menu->id" title="Select menu {$menu->name} as primary"
                                                      class="btn btn-primary menu-list__select">Select</a>
                    {/if}
                </div>
            </div>
        {/foreach}
    </div>
{/block}
