{*TODO <navigace>*}
<ul class="sidebar-menu scrollable pos-r">
    <li class="nav-item mT-30 active">
        <a class="sidebar-link" href="{plink :Dashboard:Admin:Dashboard:}" title="DashBoard">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="sidebar-link" href="{plink :Pages:Admin:Pages:}" title="Pages">
                <span class="icon-holder">
                  <i class="c-amber-500 ti-layout-media-overlay-alt-2"></i>
                </span>
            <span class="title">Pages</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-ajax="false" href="javascript:void(0);" title="Stats">
            <span class="icon-holder"><i class="c-brown-500 ti-stats-up"></i></span>
            <span class="title">Stats</span>
            <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="sidebar-link" href="{plink :Stats:Admin:Stats:all}" title="Stats - All Logs">All Logs</a></li>
            <li><a class="sidebar-link" href="{plink :Stats:Admin:Stats:summary}" title="Stats - Summary">Summary</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="sidebar-link" href="{plink :Users:Admin:Users:}" title="Users">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-user"></i>
                </span>
            <span class="title">Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="sidebar-link" href="{plink :Url:Admin:Url:}" title="Urls">
                <span class="icon-holder">
                  <i class="c-green-500 ti-direction-alt"></i>
                </span>
            <span class="title">Urls</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="sidebar-link" href="{plink :Navigation:Admin:Menu:list}" title="Menu">
                <span class="icon-holder">
                  <i class="c-red-500 ti-menu"></i>
                </span>
            <span class="title">Menu</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="sidebar-link" href="{plink :Locale:Admin:Translations:list}" title="Translations">
                <span class="icon-holder">
                  <i class="c-purple-500 ti-location-pin"></i>
                </span>
            <span class="title">Translations</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-ajax="false" href="javascript:void(0);" title="Plugins">
            <span class="icon-holder"><i class="c-blue-500 ti-cloud-down"></i></span>
            <span class="title">Plugins</span>
            <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="sidebar-link" href="{plink :Plugins:Admin:Plugins:}" title="Plugins - Overview">Overview</a></li>
            <li><a class="sidebar-link" href="{plink :Plugins:Admin:Plugins:settings}" title="Plugins - Settings">Settings</a></li>
            <li><a class="sidebar-link" href="{plink :Plugins:Admin:PluginsCenter:}" title="Plugins Center">Plugins Center</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-ajax="false" href="javascript:void(0);" title="Settings">
                <span class="icon-holder">
                  <i class="c-orange-500 ti-settings"></i>
                </span>
            <span class="title">Settings</span>
            <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="sidebar-link" href="{plink :Settings:Admin:Settings:}" title="Settings - CMS">CMS</a>
            </li>
            <li>
                <a class="sidebar-link" href="{plink :Settings:Admin:Settings:permissions}" title="Settings - Permissions">Permissions</a>
            </li>
            <li>
                <a class="sidebar-link" href="{plink :Settings:Admin:Settings:rolesResources}" title="Settings - Roles &amp; Resources">Roles &amp;
                    Resources</a>
            </li>
            <li>
                <a class="sidebar-link" href="{plink :Settings:Admin:Settings:localization}" title="Settings - Localization">Localization</a>
            </li>
        </ul>
    </li>
</ul>
{*</navigace>*}
