<div class="locale-changer">
    {*<div n:foreach="$locales as $locale" class="locale-changer__locale d-inline-block">*}
        {*{ifCurrent :Error:Error:}*}
            {*<a href="#" data-ajax="false" class="disabled" aria-disabled="true" title="{$locale->name}">[{$locale->code}]</a>*}
        {*{else}*}
            {*<a href="{plink this, locale => $locale->code}" title="{$locale->name}">[{$locale->code}]</a>*}
        {*{/ifCurrent}*}
    {*</div>*}

    <div n:foreach="$locales as $locale" class="locale-changer__locale d-inline-block">
        <a href="{plink this, locale => $locale->code}" title="{$locale->name}">[{$locale->code}]</a>
    </div>
</div>
