//.custom-radio .custom-control-input:checked~.custom-control-label::before {
//  background-color: #007bff;
//}
//
//.custom-control-input:checked~.custom-control-label::before {
//  color: #fff;
//  background-color: #007bff;
//}
//.custom-radio .custom-control-label::before {
//  border-radius: 50%;
//}
//.custom-control-label::before {
//  position: absolute;
//  top: .25rem;
//  left: 0;
//  display: block;
//  width: 1rem;
//  height: 1rem;
//  pointer-events: none;
//  content: "";
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  background-color: #dee2e6;
//}
//
//.custom-control-label {
//  margin-bottom: 0;
//}
