//.translations__input {
//  min-width: 150px;
//}

.translations {
  overflow-x: auto;
  white-space: nowrap;
}

.translations > .row > .col {
  display: inline-block;
  float: none;
  min-width: 200px;
}

.translations > .row {
  flex-wrap: nowrap;
}


.translations__row {
  height: 37px;
  font-size: 1.1em;
}

.translations-add-input {
  width: calc(100% - 20px);
  float: right;
}
