{block content}
    <h1>{_error.404.title}</h1>
    <p>
        {_error.404.description}
    </p>
    <p>
        But you can <a href="/contact" title="Kontaktní formulář">contact</a> administrator
        If you still believe you should be able to view this page
    </p>
    <p>
        <small>Error 404</small>
    </p>

    <a href="{plink :Front:Homepage:}" type="primary" class="btn btn-primary">{_homepage.title}</a>
{/block}
