{layout none}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<title>Server Error</title>

<style>
    #error-body {
        background: white;
        width: 500px;
        margin: 70px auto;
        padding: 10px 20px
    }

    #error-body h1 {
        font: bold 47px/1.5 sans-serif;
        background: none;
        color: #333;
        margin: .6em 0
    }

    #error-body p {
        font: 21px/1.5 Georgia, serif;
        background: none;
        color: #333;
        margin: 1.5em 0
    }

    #error-body small {
        font-size: 70%;
        color: gray
    }
</style>

<div id="error-body">
    <h1>Server Error</h1>

    <p>
        We'rre sorry! The server encountered an internal error and
        was unable to complete your request. Please try again later.
    </p>

    <em>
        Omlouváme se! Náš server zaznamenal intérní chybu a nemůže tak dokončit Váš dotaz.
        Na opravě usilovně pracujeme.
    </em>

    <p>
        <small>Error 500</small>
    </p>
</div>
