<div class="tutorial">
    <div class="tutorial__bubble collapse" id="hints">
        <div class="bubble__wrapper">
            <a class="bubble__close" id="close-tutorial" data-toggle="collapse" href="#hints" aria-expanded="false" aria-controls="hints">
                <i class="fa fa-close"></i>
            </a>
            <div class="bubble__hints">
                <div n:foreach="$hints as $hint" class="hint__innter">
                    <h5>{$hint->getTitle()}</h5>
                    <p>{$hint->getHint()}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="tutorial__button btn btn-dark" type="button" data-toggle="collapse" data-target="#hints" aria-expanded="true"
            aria-controls="hints">
        <i class="fa fa-question"></i>
    </button>
</div>
{var cookieName = $presenter->name . ':' . $presenter->action}
<script type="application/javascript" n:nonce>
    {nittroDom '.tutorial'}
    // let date = new Date;
    // date.setFullYear(date.getFullYear() + 1);
    // document.cookie = 'tutorial=' + 'rd' + '; expires=' + date.toUTCString() + '; path=/';
    let cookie = getCookie('tutorial');
    if (!cookie) {
        cookie = '';
    }
    let isIncluded = cookie.includes({$cookieName});
    if (!isIncluded) {
        document.getElementById('hints').classList.add('show');
        document.getElementById('close-tutorial').addEventListener('click', function () {
            if (isIncluded) return;
            let hints = cookie.split('&');
            hints.push({$cookieName});
            let date = new Date;
            date.setFullYear(date.getFullYear() + 1);
            document.cookie = 'tutorial=' + hints.join('&') + '; expires=' + date.toUTCString() + '; path=/';
            isIncluded = true;
        });
    } else {
        document.getElementById('hints').classList.remove('show');
    }

    function getCookie(name) {
        let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) return match[2];
    }
    {/nittroDom}
</script>
