{block content}
    <div id="mainContent">
        <h2 class="h4 d-inline-block">Stats</h2>
        {control lastRefresh}
        <span><a href="{plink :Stats:Admin:Stats:all}" title="Show all">Show all</a></span>
        <div class="row gap-20 masonry pos-r">
            <div class="masonry-sizer col-md-6"></div>
            {control visitorStats:panels}
            {control visitorStats:chart}
            {control visitorStats:map}
        </div>
    </div>
{/block}
