.noscript-warning {
  position: relative;
  margin-bottom: 0;
}

//.flashes {
//  position: fixed;
//  top: 80px;
//  z-index: 9912;
//  left: 50%;
//  max-width: 90%;
//}
//
//.flash {
//  padding: 10px 20px;
//}
//
//.flash span {
//  margin-right: 20px;
//}
//
//.alert {
//  position: relative;
//}
//
.nittro-flash-global-holder {
  position: fixed;
  z-index: 9912;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flashes--nonajax {
  position: fixed;
  z-index: 9912;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nittro-flash {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 30vw;
  max-width: 90vw;
  padding: 4px 2vw;
  text-align: center;
  margin: 0;
}

.nittro-flash-success {
  background-color: #dff0d8 !important;
  border-color: #d0e9c6;
  color: #3c763d;
}

.nittro-flash-info {
  background-color: #d9edf7 !important;
  border-color: #bcdff1;
  color: #31708f
}

.nittro-flash-warning {
  background-color: #fcf8e3 !important;
  border-color: #faf2cc;
  color: #8a6d3b
}

.nittro-flash-danger {
  background-color: #f2dede !important;
  border-color: #ebcccc;
  color: #a94442
}

.nittro-flash-error {
  background-color: #f2dede !important;
  border-color: #ebcccc;
  color: #a94442
}

.alert .close {
  float: none;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}
