<!DOCTYPE html>
{block |strip}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Adam Zelycz - www.adamzelycz.cz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    {*{control meta}*}
    <title n:snippet="title">{control title}</title>
    {block styles}
        {control css:admin}
    {/block}
    {control favicon}
    <script n:nonce type="application/javascript">window._stack = [];</script> {*There is Nittro enabled in AdminModule by default*}
    {control js:async}
</head>
<body class="app">
{snippet adminSidebar}{control sidebar}{/snippet}
<div class="page-container">
    {control adminHeader}
    {control flashes}
    <main n:snippet="pageContent" class="main-content bgc-grey-100 nittro-transition-auto nittro-transition-dim">{include content}</main>
    {snippet tutorial}{control tutorial}{/snippet}
    {control noscript}
    {control footer:admin}
</div>
{block scripts}
    <script n:nonce
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script> {*TODO externalScript*}
    {control js:admin}
{/block}
{block nittro}{/block}
</body>
</html>
{/block}
