<footer class="py-4 bg-dark footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <p class="m-0 text-center text-white">Copyright &copy; <a href="https://www.adamzelycz.cz" title="Adam Zelycz WEBDESIGN">
                    adamzelycz.cz</a> {$year}.
            </p>
        </div>
    </div>
</footer>