{if $user->isLoggedIn()}{control toolBar}{/if}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <h1 class="h--no-style">
            <a class="navbar-brand" href="{plink :Front:Homepage:}">{$siteName}</a>
            <small class="text-success">Adam Zelycz</small>
        </h1>
        {control mainMenu}
        {control localeChanger}
    </div>
</nav>

<a href="https://gitlab.com/adamzelycz/cms42" class="gitlab-corner" target="_blank" title="View source on GitLab" aria-label="View source on GitLab"
   data-toggle="tooltip">
    <img src="{$basePath}/static/gitlab_logo.svg" alt="Gitlab Repository" width="50">
</a>
