<div class="menu-button__container"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button></div>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li n:foreach="$items as $item" class="nav-item">
            <a href="{$item['url']}" {if $item['target'] && $item['target']->getTarget() !== '_self'}target="{$item['target']}"{/if} n:class="$item['active'] ? active, nav-link">
                {$item['title']}
                <span n:if="$presenter->isLinkCurrent()" class="sr-only">(current)</span>
            </a>
        </li>
        {if !$user->isLoggedIn()}
            <li class="nav-item">
                <a href="{plink :Auth:Sign:in}" n:class="$presenter->isLinkCurrent() ? active, nav-link">{_sign.in.title}
                    <span n:if="$presenter->isLinkCurrent()" class="sr-only">(current)</span>
                </a>
            </li>
        {else}
            <li class="nav-item">
                <a href="{plink :Auth:Sign:out}" class="nav-link">{_sign.out.title}</a>
            </li>
        {/if}
    </ul>
</div>
