<noscript>
    <div class="noscript-warning alert alert-danger text-center">
        <span>
            Ve Vašem prohlížeči není aktuálně povoleno spouštění <strong>Javascriptu</strong>
            . Je možné, že některé funkce nebudou fungovat správně. Pro plnou funkčnost internetového obchodu doporučujeme
            <a class="anchor-reverted-color" href="http://www.enable-javascript.com/cz/" rel="nofollow" target="_blank" title="Jak povolit Javascript">
                <strong>povolit Javascript</strong>
            </a>.
        </span>
    </div>
</noscript>
