{**
 * This file is part of the Nextras community extensions of Nette Framework
 *
 * @license    MIT
 * @link       https://github.com/nextras
 *}

{define table-open-tag}
<table>
    {/define}

    {define table-close-tag}
</table>
{/define}

{define global-filter-actions}
    {input filter}
    {if $showCancel}
        {input cancel}
    {/if}
{/define}

{define row-add}
    <tr class="rows-add">
        {ifset $form[actions]}
            <td></td>
        {/ifset}
        {foreach $columns as $column}
            <td n:ifset="$form[add][$column->name]">
                {formContainer add}
                    {input $column->name}
                    {if $form[add][ $column->name]->hasErrors()}
                        <p class="error" n:foreach="$form[add][ $column->name]->getErrors() as $error">{$error}</p>
                    {/if}
                {/formContainer}
            </td>
        {/foreach}
        <td>
            {formContainer add}
                {include #row-actions-add}
            {/formContainer}
        </td>
    </tr>
{/define}

{define row-actions-add}
    {input add}
    {input cancel}
{/define}

{define row-head-actions-add-link}
    <a href="{link add!}" class="ajax row-actions-add-link" data-datagrid-add title="Add Row">Add</a>
{/define}

{define row-head-columns}
    <tr class="grid-columns">
        {ifset $form[actions]}
            <th class="grid-col-global-actions"></th>
        {/ifset}
        {foreach $columns as $column}
            <th class="grid-col-{$column->name}">
                {if $column->canSort()}
                    <a href="{link sort! orderColumn => $column->name, orderType => $column->getNewState()}" class="ajax">{$column->label}</a>
                    {if $column->isAsc()}
                        <span class="grid-sort-symbol grid-sort-symbol-asc"><em>&#9650;</em></span>
                    {elseif $column->isDesc()}
                        <span class="grid-sort-symbol grid-sort-symbol-desc"><em>&#9660;</em></span>
                    {else}
                        <span class="grid-sort-symbol grid-sort-symbol-no"></span>
                    {/if}
                {else}
                    {$column->label}
                {/if}
            </th>
        {/foreach}
        {if $hasActionsColumn}
            <th class="grid-col-actions">
                {if $control->getAddFormFactory()}
                    {include row-head-actions-add-link}
                {/if}
            </th>
        {/if}
    </tr>
{/define}

{define col-filter}
    {input $column->name}
{/define}

{define global-actions}
    <div class="grid-global-actions">
        {input $form[actions][action]}
        {input $form[actions][process]}
    </div>
{/define}

{define row-head-filter}
    <tr class="grid-filters">
        {ifset $form[actions]}
            <th class="grid-col-global-actions"></th>
        {/ifset}
        {formContainer filter}
            {foreach $columns as $column}
                <th class="grid-col-{$column->name}">
                    {if isset($form['filter'][$column->name])}
                        {ifset #col-filter-{$column->name}}
                            {include #"col-filter-{$column->name}" column => $column}
                        {else}
                            {include #col-filter column => $column}
                        {/ifset}
                    {/if}
                </th>
            {/foreach}
            <th class="grid-col-actions">
                {include #global-filter-actions showCancel => $showFilterCancel}
            </th>
        {/formContainer}
    </tr>
{/define}

{define row-actions-edit}
    {input save}
    {input cancel}
{/define}

{define row-actions-edit-link}
    <a href="{link edit! $primary}" class="ajax row-edit-link" data-datagrid-add data-datagrid-edit>{$control->translate(Edit)}</a>
{/define}

{define row}
    <tr id={$rowId}>
        {include #row-inner row => $row}
    </tr>
{/define}

{define row-inner}
    {var $primary = $control->getter($row, $rowPrimaryKey)}
    {php if (!$sendOnlyRowParentSnippet): $this->global->snippetDriver->enter("rows-$primary", "dynamic"); endif;}

    {var $editRow = $editRowKey == $primary && $primary !== NULL && $editRowKey !== NULL}
    {ifset $form[actions]}
        <td class="grid-col-global-actions">
            {formContainer actions}
                <label class="custom-control custom-checkbox">
                    {input items:$primary class => 'custom-control-input'}
                    <span class="custom-control-indicator"></span>
                    <label class="custom-control-label custom-control-description" for="{$form[actions][items]->getHtmlId()}"></label>
                </label>
            {/formContainer}
        </td>
    {/ifset}
    {foreach $columns as $column}
        {var $cell = $control->getter($row, $column->name, FALSE)}
        {if $editRow && $column->name != $rowPrimaryKey && (isset($form['edit'][$column->name]) || isset($this->blockQueue["cell-edit-{$column->name}"]))}
            <td class="grid-col-{$column->name}">
                {ifset #cell-edit-$column->name}
                    {include #"cell-edit-{$column->name}" form => $form, column => $column, row => $row}
                {else}
                    {formContainer edit}
                        {input $column->name}
                        {if $form[edit][$column->name]->hasErrors()}
                            <p class="error" n:foreach="$form[edit][$column->name]->getErrors() as $error">{$error}</p>
                        {/if}
                    {/formContainer}
                {/ifset}
            </td>
        {else}
            {ifset #col-$column->name}
                {include #"col-{$column->name}" row => $row, cell => $cell, iterator => $iterator}
            {else}
                <td class="grid-col-{$column->name}">
                    {ifset #cell-$column->name}
                        {include #"cell-{$column->name}" row => $row, cell => $cell, iterator => $iterator}
                    {else}
                        {$cell}
                    {/ifset}
                </td>
            {/ifset}
        {/if}
    {/foreach}
    {if $hasActionsColumn}
        <td class="grid-col-actions">
            {if $editRow}
                {formContainer edit}
                    {input $rowPrimaryKey class => 'grid-primary-value'}
                    {include #row-actions-edit}
                {/formContainer}
            {else}
                {ifset #row-actions}
                    {include #row-actions row => $row, primary => $primary}
                {else}
                    {if $control->getEditFormFactory()}
                        {include #row-actions-edit-link row => $row, primary => $primary}
                    {/if}
                    {if $control->getDeleteCallback()}
                        {include #row-actions-delete-link row => $row, primary => $primary}
                    {/if}
                {/ifset}
            {/if}
        </td>
    {/if}
    {php if (!$sendOnlyRowParentSnippet): $this->global->snippetDriver->leave(); endif;}
{/define}

{define pagination}
    <div class="grid-paginator">
        {if $paginator->isFirst()}
            <span>« {$control->translate(First)}</span>
            <span>« {$control->translate(Previous)}</span>
        {else}
            <a href="{link paginate!, 'page' => 1}" class="ajax">« {$control->translate(First)}</a>
            <a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">« {$control->translate(Previous)}</a>
        {/if}

        <span>
			<span>{$paginator->page}</span> / <span>{$paginator->pageCount}</span>
		</span>

        {if $paginator->isLast()}
            <span>{$control->translate(Next)} »</span>
            <span>{$control->translate(Last)} »</span>
        {else}
            <a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">{$control->translate(Next)} »</a>
            <a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax">{$control->translate(Last)} »</a>
        {/if}
    </div>
{/define}
