{define cell-dateTime}
    {$row->dateTime|dateTimeFormat}
{/define}
{define cell-referer}
    <a href="{$row->referer}" rel="nofollow" target="_blank">{$row->referer}</a>
{/define}
{define cell-urlPath}
    <a href="{$row->urlPath}" rel="nofollow" target="_blank">{$row->urlPath}</a>
{/define}
{define cell-httpCode}
    {var $first = substr($row->httpCode, 0, 1)}
    <strong n:class="$first === '2' ? text-success : ($first === '4' || $first === '5' ? text-danger : text-info)">{$row->httpCode}</strong>
{/define}
