{form form}
    <div class="form-group row">
        <div class="col">{input control}</div>
        <div class="col-auto">
            <button class="btn btn-primary" type="button" id="dynamic-controls__generate">Generate control</button>
        </div>
    </div>
{/form}

<div class="container" id="dynamic-controls__result" style="display: none;">
    <h6 class="form-text text-muted">Copy this text and paste into the editor</h6>
    <div class="row">
        <input class="form-control col" aria-label="Generated control string" id="dynamic-controls__result__input" value="" readonly>
        <button id="dynamic-controls__copy" class="btn btn-success col-auto">Copy</button>
    </div>
</div>


<script n:nonce type="application/javascript">
    {nittroDom '#dynamic-control-show'}
    let defined = false;
    let button = document.getElementById('dynamic-control-show');
    if (!defined) {
        button.addEventListener('click', function () {
            defined = true;
            let generateButton = document.getElementById('dynamic-controls__generate');
            let results = document.getElementById('dynamic-controls__result');
            let resultsInput = document.getElementById('dynamic-controls__result__input');
            let copyButton = document.getElementById('dynamic-controls__copy');
            generateButton.addEventListener('click', function () {
                let selected = document.querySelector('#dynamic-controls-modal .selectize-control .item');
                if (!selected) {
                    return;
                }
                resultsInput.value = '[__' + selected.getAttribute('data-value') + '__]';
                results.style.display = 'block';
            });
            resultsInput.addEventListener('click', function () {
                resultsInput.select();
            });
            copyButton.addEventListener('click', function () {
                resultsInput.select();
                document.execCommand("copy");
                results.style.display = 'none';
            });
        });
    }
    {/nittroDom}
</script>
