.anchor--no-style {
  color: inherit !important;
  text-decoration: none !important;
}

.cursor--default {
  cursor: default;
}

.cursor--pointer {
  cursor: pointer;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-weight-700 {
  font-weight: 700;
}

.row--no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.line {
  margin: 20px 0;
  border-bottom: 1px solid Grey;
}

.h--no-style {
  font-size: inherit;
  font-weight:normal;
  margin: 0;
}

.h-20p {
  height: 20px !important;
}

.h-30p {
  height: 30px !important;
}

.h-40p {
  height: 40px !important;
}

.h-50p {
  height: 50px !important;
}

.form-inline-space-5 .form-group {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.input--inline {
  width: auto;
  display: inline-block;
}

.lists--unstyled ul {
  padding-left: 0;
  list-style: none;
}
