<div class="row bg-dark p-10 settings-bar">
    <div n:foreach="$items as $href => $name" class="col-md text-center">
        <a href="{plink $href}" n:class="$active === $href ? active, settings-bar__item" title="Settings - {$name}">{$name}</a>
    </div>
</div>
