{block content}

<style>
    {$page->customCss|noescape}
</style>

<div class="page-post page-{$page->url->urlPath}">
    {control pageEditBar}
    <h1 n:if="!$page->hideTitle" class="mt-4">{$pageLocale->title}</h1>
    {*<p class="lead">*}
        {*by*}
        {*<a href="#">{$page->author}</a>TODO*}
    {*</p>*}
    {*<hr>*}

    {*<p>Posted on {$page->publishedAt}</p>TODO*}
    {*<hr>*}
    {*<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">*}
    {*<hr>*}
    {$contentWithControls|noescape}
    <hr>
    {*<div class="card my-4">*}
        {*<h5 class="card-header">Leave a Comment:</h5>*}
        {*<div class="card-body">*}
            {*<form>*}{*TODO*}
                {*<div class="form-group">*}
                    {*<textarea class="form-control" rows="3"></textarea>*}
                {*</div>*}
                {*<button type="submit" class="btn btn-primary">Submit</button>*}
            {*</form>*}
        {*</div>*}
    {*</div>*}

    {*<div class="media mb-4">*}
        {*<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">*}
        {*<div class="media-body">*}
            {*<h5 class="mt-0">Commenter Name</h5>*}
            {*Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.*}
        {*</div>*}
    {*</div>*}

    {*<div class="media mb-4">*}
        {*<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">*}
        {*<div class="media-body">*}
            {*<h5 class="mt-0">Commenter Name</h5>*}
            {*Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.*}

            {*<div class="media mt-4">*}
                {*<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">*}
                {*<div class="media-body">*}
                    {*<h5 class="mt-0">Commenter Name</h5>*}
                    {*Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.*}
                {*</div>*}
            {*</div>*}

            {*<div class="media mt-4">*}
                {*<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">*}
                {*<div class="media-body">*}
                    {*<h5 class="mt-0">Commenter Name</h5>*}
                    {*Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.*}
                {*</div>*}
            {*</div>*}

        {*</div>*}
    {*</div>*}

</div>

<script n:nonce type="application/javascript">
    {$page->customJs|noescape}
</script>
