{block content}

<style>
    {$page->customCss|noescape}
</style>

<div class="page-post page-{$page->url->urlPath}">
    <h1 n:if="!$page->hideTitle" class="mt-4">{$pageLocale->title}</h1>
    {$content|noescape}
    <hr>
</div>

<script n:nonce type="application/javascript">
    {$page->customJs|noescape}
</script>
