<div class="container col-lg-6 col-centered">
    <form n:name="contactForm" data-ajax="false">
        <div class="form-group row">
            {label name class => 'col-sm-3'}
            <div class="col-sm-9"><input n:name="name" class="form-control"></div>
        </div>

        <div class="form-group row">
            {label email class => 'col-sm-3'}
            <div class="col-sm-9"><input n:name="email" class="form-control"></div>
        </div>

        <div class="form-group row">
            {label message class => 'col-sm-3'}
            <div class="col-sm-9"><textarea n:name="message" class="form-control"></textarea></div>
        </div>

        <div class="form-group row">
            {label recaptcha class => 'col-sm-3'}
            <div class="col-sm-9">
                <div n:name="recaptcha"></div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-auto"><label></label>
                <div><input n:name="send" class="btn btn-primary"></div>
            </div>
        </div>
    </form>
